@{
    ViewData["Title"] = "Information on BP Measurements";
}

<h1>Blood Pressure Categories</h1>
<table class="table table-bordered">
    <thead>
        <tr style="background-color: black; color: white;">
            <th>BLOOD PRESSURE CATEGORY</th>
            <th>Systolic mm Hg (upper number</th>
            <th>and/or</th>
            <th>Diastolic mm Hg (lower number)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #98FB98;">
            <td>NORMAL</td>
            <td>LESS THAN 120</td>
            <td>and</td>
            <td>LESS THAN 80</td>
        </tr>
        <tr style="background-color: #FFD700;">
            <td>ELEVATED</td>
            <td>120 - 129</td>
            <td>and</td>
            <td>LESS THAN 80</td>
        </tr>
        <tr style="background-color: #FFA500;">
            <td>HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 1</td>
            <td>130 - 139</td>
            <td>or</td>
            <td>80 - 89</td>
        </tr>
        <tr style="background-color: #FF6347; color: white;">
            <td>HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2</td>
            <td>140 OR HIGHER</td>
            <td>or</td>
            <td>90 OR HIGHER</td>
        </tr>
        <tr style="background-color: #B22222; color: white;">
            <td>HYPERTENSION CRISIS (consult your doctor immediately</td>
            <td>HIGHER THAN 180</td>
            <td>and/or</td>
            <td>HIGHER THAN 120</td>
        </tr>
    </tbody>
</table>
<p><a class="btn btn-info" asp-action="AllBpMeasurement">Cancel</a></p>
