@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="BpMeasurements" asp-action="AllBpMeasurement">View All BP Measurements</a>.</p>
</div>
